<div class="custom-container my-sm-3 my-lg-5">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs row">

    <div class="col-sm-12 col-lg-4"> <%= f.input :first_name, required: true, autofocus: true %></div>
    <div class="col-sm-12 col-lg-4"> <%= f.input :last_name, required: true, autofocus: true %></div>
    <div class="col-sm-12 col-lg-4"> <%= f.input :location, label: "City", required: true, autofocus: true %></div>
    <div class="col-sm-12 col-lg-12"> <%= f.input :email, required: true, autofocus: true %></div>



    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <div class="col-sm-12 col-lg-6" > <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %> </div>
    <div class="col-sm-12 col-lg-6" > <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %> </div>
    <div class="col-sm-12 col-lg-12" > <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %> </div>
    <label class="btn btn-dark ml-lg-3">
      <i class="fas fa-images"></i> Change avatar
      <span style="display:none;">
        <div class="col-sm-12 col-lg-12"> <%= f.input :avatar, as: :file %> </div>
      </span>
    </label>

  </div>

      <div class="col-sm-12 col-lg-12">
        <div> <%= cl_image_tag current_user.avatar.key, class: "preview-avatar shadow my-3 " %> </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update Profile", class:'btn btn-danger' %>

      </div>
<% end %>

  <p class="mt-3"><%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <p> <%= link_to "Back", :back %> </p>
</div>
