<div id="footer">
  <footer class="px-3">
    <div class="custom-container footer-responsive pb-md-4">
      <div class="footer-links Footer-tours">
        <%= image_tag "logo2.png", alt: "This is the logo of tours of the day", class: "footer-logo" %>
        <label for="cars">Choose a city</label>
        <select name="cars" id="cars" form="carform">
          <option value="amsterdam">Amsterdam</option>
          <option value="utrecht">Utrecht</option>
          <option value="rotterdam">Rotterdam</option>
          <option value="the hague">The Hague</option>
        </select>
      </div>
      <div class="footer-links Footer-tours">
        <h6 class="subtitle">Tours</h6>
        <%= link_to "All Tours", tours_path %>
        <%= link_to "Features", root_path %>
        <%= link_to "Tutorials", root_path %>
        <%= link_to "Process", root_path %>
        <%= link_to "Releases", root_path %>
      </div>
      <div class="footer-links">
        <h6 class="subtitle">Company</h6>
        <%= link_to "About Us", root_path %>
        <%= link_to "Blog", root_path %>
        <%= link_to "Careers", root_path %>
        <%= link_to "Contact", root_path %>
        <%= link_to "Press", root_path %>
      </div>
      <div class="footer-links">
        <h6 class="subtitle">Support</h6>
        <%= link_to "Become a Guide", root_path %>
        <%= link_to "Cookies Policy", root_path %>
        <%= link_to "Privacy Policy", root_path %>
        <%= link_to "Terms of Use", root_path %>
        <%= link_to "Sitemap", root_path %>
      </div>
    </div>
    <hr class="footer-hr ">
    <div class="custom-container copyright-social-media">
      <p class="text-center">&copy;2021 Tour of the Day. All right reserved</p>
      <div class="footer-social">
        <i class="fab fa-facebook-f ml-4">
        </i>
        <i class="fab fa-instagram ml-2">
        </i>
        <i class="fab fa-twitter ml-2 ">
        </i>
        <i class="fab fa-pinterest-p ml-2">
        </i>
      </div>
    </div>
  </footer>
  <div id="back-top">
    <a href="#">
      <i class="fas fa-angle-up">
      </i>
    </a>
    </div>
</div>


