<div class="new-tour-bg py-5">
  <div class="container new-tour-form">
    <h1 class="pl-2">Edit Your Tour</h1>

    <div class="container">
      <%= simple_form_for @tour do |f| %>
        <div class="row">
          <div class="col-sm-10 col-md-12 col-lg-6 "> <%= f.input :name, label: "Tour Name" %></div>
          <div class="col-sm-10 col-md-12 col-lg-6 "> <%= f.input :city %></div>
          <div class="col-sm-10 col-md-12 col-lg-4 "> <%= f.input :price, label: "Price per person" %></div>
          <div class="col-sm-10 col-md-12 col-lg-4 "> <%= f.input :duration %></div>
          <div class="col-sm-10 col-md-12 col-lg-4 "> <%= f.input :category %></div>
          <div class="col-sm-10 col-md-12 col-lg-12 "> <%= f.input :description, label: "Tour description" %></div>
        </div>
        <label class="btn btn-dark">
          <i class="fas fa-images"></i> Add photos to your tour
          <span style="display:none;">
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          </span>
        </label>
        <div class="d-flex">
          <%= f.submit "Save Changes", class:'btn btn-danger' %>
          <%# if action_name == 'edit' %>
            <%#= link_to(@tour, method: :delete, data: { confirm: 'Are you sure?' }, class: "ml-2") do %>
            <!-- <i class="far fa-trash-alt"></i> -->
          <%# end %>
          <%# end %>
      </div>
    </div>
  <% end %>
</div>
