<div class="custom-container">
  <h1>Here go all tours</h1>
  <div class="row">
    <% @tours.each do |tour| %>
      <div class="col-sm-8 col-md-4 col-lg-3 card-trip">
        <% if tour.photos.attached? %>
        <%= cl_image_tag tour.photos[0].key %>
        <% end %>

        <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> -->
        <%# end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= tour.name %></h2>
            <p><%= tour.description %></p>
            <p><%= tour.city %></p>
          </div>
          <h2 class="card-trip-pricing">€<%= tour.price %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</div>
