<div class="">
  <h1>Here go all tours</h1>
  <div class="row cards-wrapper">
    <% @tours.each do |tour| %>
      <div class="col-sm-8 col-md-4 col-lg-3 card-trip">
        <% if tour.photos.attached? %>
        <%= cl_image_tag tour.photos[0].key %>
        <% end %>

        <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> -->
        <%# end %>
        <div class="card-trip-infos">
          <div>
            <%= link_to tour_path(tour), class: "index-link pb-1" do %>
              <h2><%= tour.city %>: <%= tour.name %></h2>
            <% end %>
            <p class="mt-2 rating-index-style"> <i class="fas fa-star"></i> <%= tour.average_rating %> (<%= tour.reviews.count%> <%= tour.reviews.count > 1 ? "reviews" : "review" %>)</p>
            <p class="mt-2 tour-duration-index"><i class="far fa-clock"></i> <%= tour.duration %> <%= tour.duration == 1 ? "hour" : "hours" %></p>
            <!-- <p class="mt-2"><%= tour.description&.truncate(50, separator: " ") %></p> -->

          </div>
          <h2 class="card-trip-pricing">€<%= tour.price %></h2>
            <% if tour.user.avatar.attached? %>
              <%= cl_image_tag tour.user.avatar.key, class: 'card-trip-user avatar-bordered' %>
            <% else %>
              <%= image_tag "https://images.unsplash.com/photo-1485178575877-1a13bf489dfe?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXwyNDgzNjQ1fHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60", class: 'card-trip-user avatar-bordered' %>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
 </em>
