<div class="custom-container">
  <h1>Here go all tours</h1>
  <div class="row">
    <% @tours.each do |tour| %>
      <div class="col-sm-8 col-md-4 col-lg-3 card-trip">
        <% if tour.photos.attached? %>
        <%= cl_image_tag tour.photos[0].key %>
        <% end %>

        <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> -->
        <%# end %>
        <div class="card-trip-infos">
          <div>
            <%= link_to tour_path(tour), class: "index-link pb-1" do %>
              <h2><%= tour.name %></h2>
            <% end %>
            <p><%= tour.description&.truncate(25, separator: " ") %></p>
            <p><b><%= tour.city %> </b></p>
          </div>
          <h2 class="card-trip-pricing">€<%= tour.price %></h2>
          <% if tour.user.avatar.attached? %>
            <%= cl_image_tag tour.user.photo.key, class: 'card-trip-user avatar-bordered' %>
          <% else %>
            <%= image_tag "https://images.unsplash.com/photo-1593099295589-ee5c1aa4164f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2736&q=80", class: 'card-trip-user avatar-bordered'%>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
 </em>
