<div class="custom-container">
  <div class="custom-container header-and-rating mt-3">
    <div class="d-flex justify-content-between">
    <h1><%= @tour.city %>: <%= @tour.name %></h1>
    <div class="d-flex mt-3">
      <% if user_signed_in? %>
        <% if @tour.user_id == current_user.id %>
          <%= link_to(edit_tour_path(@tour)) do %>
            <i class="far fa-edit mr-1"></i>
          <% end %>
          <%= link_to(@tour, method: :delete, data: { confirm: 'Are you sure?' }) do %>
          <i class="far fa-trash-alt">
          </i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

    <div class="d-flex justify-content-between mt-3">
      <p> <i class="fas fa-star"></i> <%= @tour.average_rating %> (<%= @tour.reviews.count%> <%= @tour.reviews.count > 1 ? "reviews" : "review" %>)</p>
      <div> <%= render "favorite" %></div>
    </div>
  </div>

  <div class="custom-container d-flex rounded-lg">
    <div class="side-carousel-image mr-2">
      <%= cl_image_tag @tour.photos[1].key, class: "mb-2 show-image-size top-left-radius" %>
      <%= cl_image_tag @tour.photos[2].key, class: "show-image-size bottom-left-radius" %>
    </div>

    <div class="carousel">
      <%= render "carousel" %>
    </div>

      <div class="side-carousel-image ml-2">
      <%= cl_image_tag @tour.photos[3].key, class: "mb-2 show-image-size top-right-radius" %>
      <%= cl_image_tag @tour.photos[4].key, class: "show-image-size bottom-right-radius" %>
    </div>
  </div>

  <div class="custom-container my-4 description-booking-wrapper">
    <div class="tour-description-show">
      <p><%= @tour.description %></p>
      <h3><%#= @tour.city %></h3>
    </div>

    <div class="booking-form">
      <div class="booking-box">
        <h2>Book your Tour</h2>
        <%= simple_form_for ([@tour, @reservations]) do |f| %>
        <%= f.input :date, as: :date, html5: true %>
        <%= f.input :amount_of_people, placeholder: 'E.g. 1' %>
        <div class="details-show-price py-2 pr-1">
          <p class="text-center" id="priceCalculator" data-price="<%= @tour.price %>"> Total: € <%= number_with_precision(@tour.price, precision: 0) %> <span>per person</span></p>
        </div>
        <%= f.submit "Book this Tour", class:"btn btn-danger w-100 button-design" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
