<h1>here goes each individual tour page</h1>

<%= cl_image_tag @tour.photos[0].key %>
<h2><%= @tour.name %></h2>
<p><%= @tour.description %></p>
<h3><%= @tour.city %></h3>
<span> €<%= @tour.price %></span>
