<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
  <div class="own-tour" id="own-tour">
    <h2 class="my-5">Your Tours:</h2>
    <div class="row cards-wrapper">
      <% @tours.each do |tour| %>
        <% if tour.user_id == current_user.id %>
          <div class="col-sm-8 col-md-4 col-lg-3 card-trip">
            <% if tour.photos.attached? %>
            <%= cl_image_tag tour.photos[0].key, class: "dashboard-my-tours-image" %>
            <% end %>
            <div class="card-trip-infos">
              <div>
                <%= link_to tour_path(tour), class: "index-link pb-1" do %>
                  <h2><%= tour.city %>: <%= tour.name %></h2>
                <% end %>
                <p class="mt-2 rating-index-style"> <i class="fas fa-star"></i> <%= tour.average_rating %> (<%= tour.reviews.count%> <%= tour.reviews.count > 1 ? "reviews" : "review" %>)</p>
                <p class="mt-2 tour-duration-index"><i class="far fa-clock"></i> <%= tour.duration %> <%= tour.duration == 1 ? "hour" : "hours" %></p>
                <!-- <p class="mt-2"><%= tour.description&.truncate(50, separator: " ") %></p> -->

              </div>
              <h2 class="card-trip-pricing">€<%= tour.price %></h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
