<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  <div class="requests " id="requests">
    <h2 class="my-5">Your tours were booked for the following dates:</h2>
    <% if @requests.blank? %>
      <p>No one has booked your tour yet.</p>
    <% else %>
      <% @requests.each do |request| %>
        <div class="notification">
          <% if request.user.avatar.attached? %>
            <%= cl_image_tag request.user.avatar.key, class: "avatar-large shadow mobile-request-avatar" %>
          <% else %>
            <%= image_tag "user.png", class: "avatar-large shadow mobile-request-avatar" %>
          <% end %>
        <div class="notification-content">
          <p><strong><%= request.user.first_name %></strong> booked <%= request.tour.city %> <%= request.tour.name %></p>
          <p><strong> Tour date: <%= request.date.strftime("%-d %B %Y") %> </strong></p>
          <p><strong> For <%= request.amount_of_people %> person.</strong></p>
        </div>

        <div class="notification-actions">
          <div id="approved-<%= request.id %>">
            <%if !request.approved && !request.declined %>
              <%= link_to (reservation_path(request, approve: true)), method: :patch, remote: true, class: "approve-button" do%>
                <i class="far fa-check-circle"></i>
              <% end %>
              <%= link_to (reservation_path(request, approve: false)), method: :patch, remote: true, class: "reject-button" do %>
                <i class="far fa-times-circle"></i>
              <% end %>
            <% elsif request.approved %>
              <p>Approved</p>
            <% elsif request.declined %>
              <p>Declined</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
