<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(' <%= image_path 'amsterdam-tours.jpg' %> ');">
  <div class="container">
    <h1>Let's Discover the <strong> World </strong> <br> Together?</h1>
    <div class="mt-3 d-flex justify-content-center">
      <%= form_tag tours_path, method: :get do %>
        <div class="form-row">
          <div class="input-width">
            <%= text_field_tag :query,
            params[:query],
            class: "form-control search-text",
              placeholder: "Which city are you going?"%>
            </div>
              <%= submit_tag "Search", class: "btn btn-danger search-button" %>
          </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<h2 class="text-center my-5 home-tours-subtitle">Amazing Tours You <br/>Can't Miss!</h2>

<%= render "component.product-card" %>

<%= render "cta-images-section" %>

<%= render "component.city-cards" %>



