<div class="booking-confirmation d-flex align-items-center justify-content-center" >
  <div class="container text-center pt-3 col-6" id="booking-confirmation-box">
    <h1>Congratulations!</h1>
    <p>You requested <%= @reservation.tour.name %> for <strong> <%= @reservation.date.strftime("%B %-d, %Y") %> </strong></p>
    <p>Waitig for <%= @reservation.tour.name %> to approve your request...</p>
    <%= link_to "Your Dashboard", dashboard_path, class: "btn btn-danger my-3" %>
    <p class="small-font no-hover-decoration"><%= link_to "See other tour options!", tours_path %> </p>
  </div>
</div>
